.gallery {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  transform: translateY(-350px);
  .gallery-outer {
    opacity: 0;
    visibility: hidden;
  }
  .gallery-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    clip-path: inset(13% 35% round 20px);
    img {
      width: 110%;
    }
  }
  .gallery-title {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%) rotate(5deg);
    z-index: 3;
    color: #eae9e4;
    font-family: 'Ivy Mode', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1.25;
    text-align: center;
    mix-blend-mode: luminosity;
  }
  .gallery-inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    transform: translateY(-100px);
    img {
      width: 100%;
      border-radius: 20px;
    }
    .gallery-left-outer,
    .gallery-left-inner,
    .gallery-right-outer,
    .gallery-right-inner {
      align-self: center;
      transform: scale(0);
    }
    .gallery-left-inner,
    .gallery-right-inner {
      img {
        height: 25vh;
        object-fit: cover;
        margin-bottom: 30px;
      }
    }
    .gallery-central {
      align-self: center;
      transform: scale(0);
      opacity: 1;
      img {
        height: 70vh;
        object-fit: cover;
      }
    }
  }
}
