@import url('https://fonts.googleapis.com/css2?family=Belleza&family=IBM+Plex+Sans&display=swap');

$primary-dark-color: #1c1c1c;
$secondary-dark-color: #111111;
$primary-light-color: #eae9e4;
$title-font: 'Belleza', sans-serif;
$content-font: 'IBM Plex Sans', sans-serif;

$container-padding: 24px;
